:host {
  display: block;
}

.align-center {
  align-items: center;
}

.sidenav-button {
  text-align: left;
  width: 100%;
  font-size: large;
}

@media (min-width: 768px) {
  .sidenav-button {
    color: rgb(150, 150, 150);
  }
  .active {
    color: white;
  }
  .media-none {
    display: none;
  }
}

/* @media (max-width: 768px) {
   .nav-item-media-override {
    visibility: visible !important;
  }
} */
