<div class="container">
  <mat-card>
    <mat-card-title>Log In</mat-card-title>
    <br />
    <form [formGroup]="loginForm" (ngSubmit)="login()">
      <div class="flex justify-content-between">
        <mat-form-field appearance="outline" class="w-full">
          <mat-label>Email</mat-label>
          <input
            type="email"
            matInput
            placeholder="Ex. john@example.com"
            formControlName="email"
          />
        </mat-form-field>
      </div>
      <div class="flex justify-content-between">
        <mat-form-field appearance="outline" class="w-full">
          <mat-label>Password</mat-label>
          <input
            type="password"
            matInput
            placeholder="Password"
            formControlName="password"
          />
        </mat-form-field>
      </div>
      <br />
      <div>
        <div>
          <button
            mat-raised-button
            color="primary"
            type="submit"
            class="w-full"
          >
            Log In
          </button>
        </div>
        <br />
        <div>
          <a
            mat-flat-button
            routerLink="/auth/signup"
            color="accent"
            class="w-full secondary"
            >Create an account</a
          >
        </div>
        <br />
        <div>
          <a
            mat-flat-button
            routerLink="/auth/signup"
            color="accent"
            class="w-full tertiary"
          >
            Forgot Password ?
          </a>
        </div>
      </div>
    </form>
  </mat-card>
  <br />
  <h2 style="text-align: center">OR</h2>
  <app-social-login></app-social-login>
</div>
